<!-- show template -->
<% include partials/header %>

	<div class="ui main text container segment">
		<div class="ui huge header">
			<a href="/blogs">
				<i class="arrow left icon black" id="arrow-icon"></i>
			</a>
			<%= blog.title %>
		</div>
		<div class="ui top attached">
			<div class='item'>
				<img id="show-image" class ="ui centered rounded image" src="<%= blog.image %>">
				<div class="content">
					<span><%= blog.created.toDateString() %></span>
				</div>
				<div class="description">
					<p><%- blog.body %></p> <!-- This means evaluate the body (we can use html form) -->
				</div>
			</div>
			<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">Delete</button>
			</form>
		</div>
	</div>
	
<% include partials/footer %>